$color-primary-light: #1f2833;
$color-primary-dark: #0b0c10;
$color-secondary-blue: #66f1fc;
.cart-dropdown {
  position: absolute;
  width: 240px;
  height: 340px;
  display: flex;
  flex-direction: column;
  padding: 20px;
  border: 1px solid #66f1fc;
  background-image: linear-gradient(
    to right bottom,
    rgba($color-primary-light, 1),
    rgba($color-primary-dark, 1)
  );
  top: 90px;
  right: 40px;
  z-index: 5;

  ::-webkit-scrollbar {
    -webkit-appearance: none;
    width: 7px;
  }

  ::-webkit-scrollbar-thumb {
    border-radius: 4px;
    background-color: rgba($color-secondary-blue, 0.8);
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5);
  }

  .empty-message {
    color: white;
    font-size: 1rem;
    margin: 50px auto;
  }
  .cart-items {
    height: 240px;
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
  }

  button {
    margin-top: auto;
  }
}
