$color-black: black;
$color-primary: #66f1fc;
.header {
  height: 70px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 25px;

  .logo-container {
    height: 100%;
    width: 70px;
    padding: 25px;
  }

  .options {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .option {
      padding: 10px 15px;
      cursor: pointer;
    }

    .btn {
      &,
      &:link,
      &:visited {
        text-transform: uppercase;
        text-decoration: none;
        padding: 0.2rem 1rem;
        border-radius: 10rem;
        transition: all 0.2s;
        border: none;
        cursor: pointer;
        font-weight: 500;
      }

      &:hover {
        transform: translateY(-3px);
        box-shadow: 0 1rem 2rem rgba($color-black, 0.2);

        &::after {
          transform: scaleX(1.4) scaleY(1.6);
          opacity: 0;
        }
      }

      &:active,
      &:focus {
        outline: none;
        transform: translateY(-1px);
        box-shadow: 0 0.5rem 1rem rgba($color-black, 0.2);
      }

      &--blue {
        background-color: $color-primary;
        color: black;

        &::after {
          background-color: $color-primary;
        }
      }
      &::after {
        content: "";
        display: inline-block;

        border-radius: 10rem;
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        transition: all 0.4s;
      }

      &--animated {
        animation: moveInBottom 0.5s ease-out 0.75s;
        animation-fill-mode: backwards;
      }
    }
  }
}

@keyframes moveInBottom {
  0% {
    opacity: 0;
    transform: translateY(3rem);
  }

  100% {
    opacity: 1;
    transform: translate(0);
  }
}
